#################################################################################
##                                                                              #
##    GIT IGNORE                                                                #
##                                                                              #
#################################################################################

#################################################################################
##                                                                              #
##         NOTE: TO STOP TRACKING A FILE AFTER IGNORING IT,                     #
##               USE THESE GIT COMMANDS:                                        #
##                                                                              #
##               git rm --cached <file>                                         #
##               git add . # or git add <file>                                  #
##                                                                              #
#################################################################################

#===================#
#     IDE Files     #
#===================#
.idea
*.sublime-project
*.sublime-workspace
*.komodoproject
*.codekit3

#===================================#
#    ignore all directories         #
#===================================#
*/*

#===================================#
#             env-core              #
#===================================#
!/.env-core/*
/.env-core/data/*
/.env-core/nginx/*
/.env-core/dev/*
