#--------------------------------------------------------------------------------------------------#
#                                           DOCKER-ENV                                             #
#--------------------------------------------------------------------------------------------------#
COMPOSE_PROJECT_NAME='docker-env'
DOMAIN_FULL='docker-env'
VIRTUAL_HOST=${DOMAIN_FULL}
PORT=3306
HOSTS_FILE=/etc/hosts
# Filled automatically on Nginx start (required by the Web UI bind mount)
ENV_DIR=
