# https://docs.docker.com/compose/environment-variables/#the-env-file
# https://erikpoehler.com/2020/12/30/using-an-env-file-for-database-and-other-credentials/

#--------------------------------------------------------------------------------------------------#
#                                       ENVIRONMENT SETTING                                        #
# It can be anything, but "development", "staging" and "production" are supported out of the box.  #
# Do not use "development" on production and viceversa, because it has effect on debug settings.   #
#--------------------------------------------------------------------------------------------------#
WORDPRESS_ENV=development
COMPOSE_PROJECT_NAME='{DOMAIN_FULL}'
WP_DOMAIN='{DOMAIN_FULL}'
VIRTUAL_HOST=${WP_DOMAIN}
PORT={PORT}
WP_VERSION='{WP_VERSION}'
WP_USER='{WP_USER}'
WP_PASSWORD='{WP_PASSWORD}'
PHP_VERSION='{PHP_VERSION}'
DOMAIN_NAME='{DOMAIN_NAME}'

#--------------------------------------------------------------------------------------------------#
#                                   DATABASE SETTINGS                                              #
#--------------------------------------------------------------------------------------------------#
MYSQL_HOST='{DOMAIN_NAME}-mysql'
MYSQL_ROOT_USER='root'
MYSQL_ROOT_PASSWORD='PassWorD123'
MYSQL_DATABASE='{MYSQL_DATABASE}'
TABLE_PREFIX='{TABLE_PREFIX}'

DB_HOST="${MYSQL_HOST}"
DB_USER="${MYSQL_ROOT_USER}"
DB_PASSWORD="${MYSQL_ROOT_PASSWORD}"
DB_NAME="${MYSQL_DATABASE}"

PMA_VIRTUAL_HOST={DOMAIN_FULL}.phpmyadmin
PMA_ABSOLUTE_URI=http://{DOMAIN_FULL}.phpmyadmin
PMA_ARBITRARY=1
PMA_HOST=${MYSQL_HOST}
PMA_PORT=3306
PMA_USER="${MYSQL_ROOT_USER}"
PMA_PASSWORD="${MYSQL_ROOT_PASSWORD}"

#--------------------------------------------------------------------------------------------------#
#                                          HOME PAGE URL                                           #
# Optional, but If not set current server name will be used, e.g. http://www.example.com           #
#--------------------------------------------------------------------------------------------------#
WP_HOME="https://{DOMAIN_FULL}"
WP_SITEURL="https://{DOMAIN_FULL}"

####################################################################################################
#                                                                                                  #
# Most of the times you do NOT need to edit further.                                               #
# Below there's a cheat sheet of all the available settings, all are optional, feel free to delete #
# unused settings when you are done with editing.                                                  #
# Note that settings are commented (prefixed with #). Remove comment to be able to use a setting.  #
# Edit with care. Do nothing if in doubt. Double check before save.                                #
# For help see http://codex.wordpress.org/Editing_wp-config.php                                    #
#                                                                                                  #
# Table of Contents:                                                                               #
#  - MULTISITE                                                                                     #
#  - CACHE                                                                                         #
#  - DEBUG                                                                                         #
#  - OTHER PATHS & URLS                                                                            #
#  - WP AUTO-UPDATES                                                                               #
#  - POST & MEDIA SETTINGS                                                                         #
#  - PERFORMANCE                                                                                   #
#  - COOKIE                                                                                        #
#  - SECURITY                                                                                      #
#  - FILESYSTEM                                                                                    #
#  - CRON                                                                                          #
#  - LANGUAGES                                                                                     #
#  - PROXY                                                                                         #
#  - MISCELLANEOUS                                                                                 #
#                                                                                                  #
####################################################################################################

#--------------------------------------------------------------------------------------------------#
#                                            MULTISITE                                             #
# As of WP 3.0, you have the ability to create a network of sites by using the multisite feature.  #
# See http://codex.wordpress.org/Create_A_Network                                                  #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                              CACHE                                               #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                              DEBUG                                               #
# If you set WORDPRESS_ENV, default debug values are used based on that.                           #
#--------------------------------------------------------------------------------------------------#
WP_DEBUG=1
WP_DEBUG_DISPLAY=1

#--------------------------------------------------------------------------------------------------#
#                                           URLS & PATHS                                           #
# If WP_HOME above is set, all other urls are set properly in the great majority of the cases.     #
# For very custom installations you may need to set some of the following. Do nothing if in doubt. #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                         WP AUTO-UPDATES                                          #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                      POST & MEDIA SETTINGS                                       #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                           PERFORMANCE                                            #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                             COOKIE                                               #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                             SECURITY                                             #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                         FILESYSTEM & FTP                                         #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                               CRON                                               #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                            LANGUAGES                                             #
# WPLANG is deprecated since WP 4, use only for backward compatibility issues                      #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                             MEMORY                                               #
#--------------------------------------------------------------------------------------------------#
WP_MEMORY_LIMIT=256M
WP_MAX_MEMORY_LIMIT=512M

#--------------------------------------------------------------------------------------------------#
#                                              PROXY                                               #
#--------------------------------------------------------------------------------------------------#


#--------------------------------------------------------------------------------------------------#
#                                          MISCELLANEOUS                                           #
#--------------------------------------------------------------------------------------------------#
WP_DEFAULT_THEME=twentytwentyone